DATABASE_URL="file:./prisma/dev.db"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-to-a-random-string"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_MAPBOX_TOKEN=""
NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"

UPLOAD_DIR="public/uploads"
